@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel

@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Restaurants</h2>

<table id="restaurants"></table>

@section Scripts
{
    <script>
        $(function() {

            var cuisines = ["Unknown", "Mexican", "Italian", "Indian"];

            $.get("/api/restaurants")
                .then(function(response) {
                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            {
                                "data": "cuisine",
                                "render": function(data) {
                                    return cuisines[data];
                                }
                            }
                        ]
                    });
                });
        })

    </script>

}